@keyframes quica {
	0% {
		transform: translate(0px);
	}

	100% {
		transform: translateY(100%);
	}
}

.item1 #icon-ling1 {
	border-radius: 100%;
	width: 50px;
	height: 3px;
	animation: quica 0.4s cubic-bezier(.53, -0.03, .67, 1.06);
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
}

.item1 #icon-ling2 {
	border-radius: 100%;
	width: 50px;
	height: 3px;
	animation: quica 0.4s cubic-bezier(.53, -0.03, .67, 1.06);
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

.item1 #icon-ling3 {
	border-radius: 100%;
	width: 90px;
	height: 3px;
	animation: quica 0.4s cubic-bezier(.53, -0.03, .67, 1.06);
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
}

.item1 #icon-ling4 {
	border-radius: 100%;
	width: 50px;
	height: 3px;
	animation: quica 0.4s cubic-bezier(.53, -0.03, .67, 1.06);
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

.item1 #icon-ling5 {
	border-radius: 100%;
	width: 70px;
	height: 3px;
	animation: quica 0.4s cubic-bezier(.53, -0.03, .67, 1.06);
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
}

.item1 #icon-ling6 {
	border-radius: 100%;
	width: 50px;
	height: 3px;
	animation: quica 0.4s cubic-bezier(.53, -0.03, .67, 1.06);
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

.item1 #icon-ling7 {
	border-radius: 100%;
	width: 50px;
	height: 3px;
	animation: quica 0.4s cubic-bezier(.53, -0.03, .67, 1.06);
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
}