@media screen and (max-width: 1235px) {
    html, body {
        overflow-x: hidden;
    }

    .f-item1 {
        padding-top: 0;
        margin-bottom: 40px;
    }

    .flex-item1 {
        margin-left: 10px;
        margin-right: 10px;
    }

    .flex-item2 {
        margin-top: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .flex-item3 {
        margin-top: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .flex-item4 {
        margin-left: 10px;
        margin-right: 10px;
    }

    .flex-item5 {
        margin-top: 15px;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 10px;
        margin-right: 10px;
    }

    #parte1 {
        padding: 50px;
        margin-right: 20px;
    }
    
    #parte2 {
        margin-right: 100px;
    }

    .fundo {
        background-image: linear-gradient(to left, rgba(54, 54, 54), rgba(54, 54, 54) 50%, rgb(54, 54, 54) 50%, rgb(54, 54, 54) 100%, rgba(54, 54, 54) 100%);
        margin-top: 10px;
    }

    #cards {
        margin-top: 0;
        padding-left: 0;
        padding-right: 0;
    }

    #cards2 {
        margin-top: 0;
        padding-left: 0;
        padding-right: 0;
    }

    #project {
        margin-left: 7px;
        margin-bottom: 30px;
    }

    .footer-item1 {
        text-align: center;
        margin-top: 0;
    }
    
    .footer-item2 {
        text-align: center;
        margin-top: 20px;
    }
    
    .footer-item3 {
        text-align: center;
        margin-top: 20px;
    }

    .rodape {
        height: 160px;
        padding-top: 25px;
        margin-top: 20px;
    }

    #menu-final {
        display: none;
    }

    .botao-projetos {
        text-align: center;
    }

    .botao-certificacao {
        text-align: center;
    }

    .escrita {
        text-align: center;
    }

    .item1 {
        text-align: center;
    }

    .item2 {
        text-align: center;
        padding-left: 25px;
        padding-right: 25px;
    }

    #imagem-home {
        max-width: 90%;
    }

    #container2 {
        margin-top: 20px;
    }

    #project {
        margin-right: 10px;
    }

    .item1 #icon-ling6 {
        width: 40px;
        margin-right: 10px;
    }

    .item1 #icon-ling7 {
        width: 10px;
        margin-right: 25px;
    }

    #icon-ling6 {
        margin-bottom: 70px;
    }

    .certificado-img {
        height: auto;
        width: 100%;
        margin-top: 20px;
    }
    
    .certificado-img2 {
        height: auto;
        width: 100%;
        margin-top: 20px;
    }
    
    .certificado-img3 {
        height: auto;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .container-cert {
        margin: 10px;
    }

    .container-experiencia {
        margin-top: 0;
    }

    .icones-principal {
        position: relative;
    }

    #imagem-home {
        padding-right: 0;
        margin-left: 20px;
    }
}

@media (max-width: 991px) {
    .certificados-responsivo {
        display: flex;
        width: 100%;
        height: 60vh;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    
    .slider {
        width: 100%;
        opacity: 0;
        transition: opacity .2s;
        position: absolute;
        text-align: center;
    }
      
    .imagens-responsivo {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 700px;
        text-align: center;
    }
    
    .on {
        opacity: 1;
    }

    .fundo-certificado {
        width: 100%;
    }

    #icon-cert {
        margin-left: 280px;
    }

    .botao-certificacao {
        padding-bottom: 15px;
    }
}
@media (min-width: 992px) {
    .arrow-left-right {
        display: none;
    }
    #img-direita {
        margin-left: 40px;
    }
}

@media (max-width: 750px) {
    .certificados-responsivo {
        height: 40vh;
    }
}