@media screen and (max-width: 1235px) {
    html, body {
        overflow-x: hidden;
    }

    #container-escrita {
        margin-top: 700px;
    }

    .f-item1 {
        padding-top: 0;
        margin-bottom: 40px;
    }

    .flex-item1 {
        margin-left: 10px;
        margin-right: 10px;
    }

    .flex-item2 {
        margin-top: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .flex-item3 {
        margin-top: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .flex-item4 {
        margin-left: 10px;
        margin-right: 10px;
    }

    .flex-item5 {
        margin-top: 15px;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 10px;
        margin-right: 10px;
    }

    #parte1 {
        padding: 50px;
        margin-right: 20px;
    }
    
    #parte2 {
        margin-right: 100px;
    }

    #container-escrita {
        margin-top: 850px;
    }

    .fundo {
        background-image: linear-gradient(to left, rgba(54, 54, 54), rgba(54, 54, 54) 50%, rgb(54, 54, 54) 50%, rgb(54, 54, 54) 100%, rgba(54, 54, 54) 100%);
        margin-top: 10px;
    }

    #cards {
        margin-top: 0;
        padding-left: 0;
        padding-right: 0;
    }

    #cards2 {
        margin-top: 0;
        padding-left: 0;
        padding-right: 0;
    }

    #project {
        margin-left: 7px;
        margin-bottom: 30px;
    }

    .footer-item1 {
        text-align: center;
        margin-top: 0;
    }
    
    .footer-item2 {
        text-align: center;
        margin-top: 20px;
    }
    
    .footer-item3 {
        text-align: center;
        margin-top: 20px;
    }

    .rodape {
        height: 160px;
        padding-top: 25px;
        margin-top: 20px;
    }

    #menu-final {
        display: none;
    }

    .botao-projetos {
        text-align: center;
    }

    .botao-certificacao {
        text-align: center;
    }

    .escrita {
        text-align: center;
    }

    .item1 {
        text-align: center;
        padding-right: 30px;
    }

    .item2 {
        text-align: center;
        padding-left: 25px;
        padding-right: 25px;
    }

    #imagem-home {
        max-width: 90%;
    }

    #container2 {
        margin-top: 20px;
    }

    #project {
        margin-right: 10px;
    }

    .item1 #icon-ling6 {
        width: 0;
        margin-right: 10px;
    }

    .item1 #icon-ling7 {
        width: 10px;
        margin-right: 25px;
    }

    #icon-ling6 {
        margin-bottom: 70px;
    }
}