body {
    overflow-x: hidden;
}

.item2 {
    margin-top: 50px;
}

#titulo {
    color: #99454F;
    font-weight: 700;
    font-size: 32px;
    text-shadow: 0.5px 0.5px 1px #0c0c0c;
}

#cargo {
    color: #fff;
}

#sobre {
    color: #fff;
}

#botao {
    background-color: #99454F;
    color: #fff;
    border: none;
    font-size: 14px;
    padding: 10px 15px 10px 15px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
}

#container2 {
    margin-top: 30px;
}

#container4 {
    margin-top: 0;
}

.fundo {
    background-image: linear-gradient(to left, rgba(54, 54, 54), rgba(54, 54, 54) 50%, rgb(65, 65, 65) 50%, rgb(65, 65, 65) 100%, rgba(54, 54, 54) 100%);
    height: 1110px;
    margin-top: 80px;
    padding-top: 10px;
}

#icone {
    height: 50px;
    width: 50px;
    font-size: 40px;
    text-shadow: 0.5px 0.5px 1px #0c0c0c;
}

.flex-item1 {
    background-color: #414141;
    padding: 15px 20px 15px 20px;
    color: #fff;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.flex-item2 {
    background-color: #99454F;
    margin-left: 10px;
    padding: 15px 20px 15px 20px;
    color: #fff;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    margin-bottom: 10px;
}

.flex-item3 {
    background-color: #414141;
    margin-left: 10px;
    padding: 15px 20px 15px 20px;
    color: #fff;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.flex-item4 {
    background-color: #99454F;
    padding: 15px 20px 15px 20px;
    color: #fff;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.flex-item5 {
    background-color: #414141;
    margin-left: 10px;
    padding: 15px 20px 15px 20px;
    color: #fff;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    margin-bottom: 10px;
}

#container3 {
    margin-top: 80px;
}

#cards {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#cards2 {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.f-item1 {
    color: #fff;
    text-align: center;
    padding-top: 70px;
}

.f-item2 {
    background-color: #414141;
    color: #fff;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-top: 20px;
}

.escrita {
    color: #fff;
}

.view {
    background-color: #99454F;
    color: #fff;
    border: none;
    padding: 10px 5px 10px 5px;
    font-size: 14px;
    width: 100px;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.botao-projetos {
    text-align: right;
    margin-top: 50px;
}

.botao-certificacao {
    text-align: right;
    margin-top: 30px;
}

#imagem-c {
    height: 270px;
    width: 400px;
}

.fundo-certificado {
    height: 270px;
    width: 400px;
    padding: 15px;
}

.certificado {
    background-color: #414141;
    height: 300px;
    width: 680px;
    text-align: center;
    padding-top: 15px;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
    color: #fff;
}

#img-direita {
    margin-left: 40px;
}

#container-escrita {
    margin-top: 50px;
}

#container-projeto {
    margin-top: 30px;
}

#container-descricao {
    margin-top: 10px;
}

#project {
    background-color: #414141;
    margin-top: 50px;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
    padding: 30px;
}

#menu-final {
    color: #fff;
    font-size: 12px;
    margin-top: 50px;
    cursor: pointer;
    text-align: center;
    padding-left: 360px;
    padding-right: 360px;
    padding-bottom: 20px;
}

.rodape {
    background-color: #414141;
    height: 80px;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.icone-rodape1 {
    font-size: 28px;
    color: #fff;
    cursor: pointer;
    text-shadow: 0.5px 0.5px 1px #0c0c0c;
}

.footer-item1 {
    margin-top: 30px;
    text-align: left;
    color: #fff;
}

.footer-item2 {
    margin-top: 30px;
    text-align: center;
    color: #fff;
}

.footer-item3 {
    margin-top: 30px;
    text-align: right;
    color: #fff;
}

.icone-rodape2 {
    margin-left: 10px;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
    text-shadow: 0.5px 0.5px 1px #0c0c0c;
}

.icone-rodape3 {
    margin-left: 10px;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
    text-shadow: 0.5px 0.5px 1px #0c0c0c;
}

#cinco {
    font-size: 70px;
    font-weight: 700;
    text-shadow: 0.5px 0.5px 1px #0c0c0c;
}

.copy {
    font-size: 15px;
}

#titulo-certificado {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

#icon-cert {
    margin-left: 320px;
    text-shadow: 0.5px 0.5px 1px #0c0c0c;
    color: #99454F;
    font-size: 30px;
}

.data-certificado {
    color: #fff;
    font-size: 12px;
    text-shadow: 0.5px 0.5px 1px #0c0c0c;
    font-weight: 600;
}

.instituicao {
    color: #fff;
    font-size: 12px;
    text-shadow: 0.5px 0.5px 1px #0c0c0c;
    font-weight: 600;
}

#icon-ling1 {
    color: #fff;
    font-size: 30px;
    text-shadow: 0.5px 0.5px 1px #0c0c0c;
}

#icon-ling2 {
    color: #fff;
    font-size: 30px;
    text-shadow: 0.5px 0.5px 1px #0c0c0c;
}

#icon-ling3 {
    color: #fff;
    font-size: 30px;
    text-shadow: 0.5px 0.5px 1px #0c0c0c;
}

#icon-ling4 {
    color: #fff;
    font-size: 30px;
    text-shadow: 0.5px 0.5px 1px #0c0c0c;
}

#icon-ling5 {
    color: #fff;
    font-size: 30px;
    text-shadow: 0.5px 0.5px 1px #0c0c0c;
}

#icon-ling6 {
    color: #fff;
    font-size: 30px;
    text-shadow: 0.5px 0.5px 1px #0c0c0c;
}

#icon-ling7 {
    color: #fff;
    font-size: 30px;
    text-shadow: 0.5px 0.5px 1px #0c0c0c;
}

#animation {
    padding-left: 28px;
    position: absolute;
}

.icones-parte1 {
    margin-bottom: 50px;
}

.item1 {
    margin-top: 50px;
}

.icones-parte2 {
    margin-bottom: 110px;
}

.icones-parte3 {
    margin-bottom: 170px;
}

.icones-parte4 {
    margin-bottom: 150px;
}

.icones-parte5 {
    margin-bottom: 100px;
}

.icones-parte6 {
    margin-top: 120px;
}

.icones-parte7 {
    margin-top: 200px;
}

.habilidades ul li {
    font-size: 15px;
    text-align: left;
}

a {
    color: #fff;
}

a:hover {
    color: #fff;
}